.cover {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; 
}
.cover, .cover .row {
	height: 100vh;
	min-height: 800px; 
}
.pic{
	padding: 30px;background-color: #e9ecef;border: 1px solid #828381;border-top: 2px solid #565755;
}
.pic:hover{
	background:#FF2400;
}
